.button-default {
    background-color: darkslateblue;
    font-size: 1em;
    padding: 10px;
    border-radius: 15px;
    transition: transform .2s;
}

.button-default:hover {
    transform: scale(1.2);
}







/*Clear Button*/
.button-clear {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}